/* Bg color, display, font fam & alignment for body section */
body {
    background-color: #ffed9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

/* text align, size and weight for header */
header {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

/* heading four font size */
h4 {
    font-size: 20px;
}

/* paragraph font size  */
p {
    font-size: 20px;
}

/* input border radius */
input {
    border-radius: 5px;
}

/* ID time font size, weight, padding & margin */
#time {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

/* ID question container font size and text color */
#question-container {
    font-size: 25px;
    color: #fff1f1;
}

/* Button ID's margin, padding, font size, bg color, border radius and cursor */
#start-quiz,
#saveBtn,
#restart {
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

/* ID quiz container display, alignment, bg color, padding, width, border radius */
#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #414141;
    padding: 20px;
    width: 700px;
    max-width: 80%;
    border-radius: 10px;
    display: none;
}

/* ID name input font size */
#name-input {
    font-size: 20px;
}

/* Class hide display */
.hide {
    display: none;
}

/* Class option container width, font size, margin, padding, border radius, bg color & cursor */
.options-container {
    width: 75%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Class options container hover properties */
.options-container:hover {
    box-shadow: inset 0px 0px 10px #ffed9c, 0 0 20px #ffed9c;
}

/* Button ID's hover properties */
#start-quiz:hover,
#restart:hover,
#saveBtn:hover {
    box-shadow: inset 0px 0px 10px #414141, 0 0 20px #414141;
}